<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link 
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&family=Oswald&family=Roboto+Serif:wght@200&family=Ubuntu:wght@300&display=swap" 
    rel="stylesheet"
    >
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&family=Oswald&family=Playfair+Display:ital@1&family=Raleway:ital,wght@1,100&family=Roboto+Serif:wght@200&family=Ubuntu:wght@300&display=swap"
     rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald&family=Raleway:ital,wght@1,100&family=Roboto+Serif:wght@200&family=Ubuntu:wght@300&display=swap" 
    rel="stylesheet">
</head>
<body>
    <%- include("header") -%>
    <% record.forEach(function(record_ind){ %>
    <div class="row w-50 mx-auto">
      <div class="col">   
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success"><%= record_ind.Name %></strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">  <%= record_ind.Id %></a>
            </h3>
            <div class="mb-1 text-muted">Feedbacks Below</div>
            <% for (let i=0;i<record_ind.Feedbacks.length;i++){ %>
            <p class="card-text mb-auto">
              <li>
                <%=record_ind.Feedbacks[i].substring(0,60)%>
              </li>  
            </p>
            <% } %>
          </div>
          <img class="card-img-right flex-auto d-none d-md-block"src="thisisengineering-raeng-TXxiFuQLBKQ-unsplash.jpg"style="width: 200px; height: 250px;">
        </div>
      </div>
    </div>
    <% }) %>   
    <%- include("footer") -%>
</body>
</html>